@model DBcontext.ServiceModels.SellerLogin
@{
    ViewBag.Title = "ShopZone";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Session["Sellerlogin"] = null;
    Session["Sellername"] = null;
    Session["Userlogin"] = null;
    Session["Username"] = null;
}

<h2>SellerLogin</h2>

@if (Model.Email != null)
{
    using (Html.BeginForm("verify", "Seller", FormMethod.Post))
    {
        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OTP, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.OTP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.OTP, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Login" onclick="myFunction()" class="btn btn-primary" />
                </div>
            </div>
        </div>

    }
}
else
{

    using (Html.BeginForm("SellerLogin1", "Seller", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="OTP" onclick="myFunction()" class="btn btn-primary" />
                </div>
                <span style="background-color: Red; left: 18%; position: relative"></span>
              </div>

            @Html.ActionLink("Add New Seller", "SellerSingIn", null, new { @class = "btn btn-primary" })
        </div>
    }
}





@section Scripts {
    @Scripts.Render("~/bundles/ShopZone")
    @Scripts.Render("~/bundles/jqueryval")
}
