@model task.Models.Student

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            <input type="number" id="txtStudentId" />
            @Html.EditorFor(model => model.StudentId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentName)

        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.EditorFor(s => s.StudentId)
<div class="form-actions no-color">
    <input type="button" id="btnDelete" value="Delete" class="btn btn-danger" />
    |@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>
    }
</div>

