@model task.Models.studentdto

@{
    ViewBag.Title = "Mark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Mark</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentName)
        </dd>
    </dl>
</div>
<table class="table">
    <tr>
        <th>
            <label>SubjectName</label>
        </th>
        <th>
            <label>Marks</label>
        </th>
    </tr>

    @foreach(var item in Model.Marks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.subjectname)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.marks)
            </td>

        </tr>
    }
<tr>
    <td>
        @Html.DisplayNameFor(model => model.Total)
    </td>

    <td>
        @Html.DisplayFor(model => model.Total)
    </td>
</tr>
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.StudentId  }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-success" })
</p>
