@model IEnumerable<DBcontext.DBModels.Product>

@{
    ViewBag.Title = "Existing";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/Content/css")

}

<br />
<div class="productsidenav">
    <ul id="ul">
        <li>
            <a href="#about">filter</a>
        </li>
        <li>
            <a href="#services">Services</a>
        </li>
        <li>
            <a href="#clients">price</a>
        </li>
        <li>
            <a href="#contact">ratings</a>
        </li>
    </ul>
</div>
<div class="body-content">
    <div id="Existing" class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4">
                <img src="@item.ImageLink" />
                <h2>@item.Name - @item.Model</h2>
                <p><ul><li>@item.Price</li><li>Rating: @item.Price</li></ul></p>
            </div>

        }
    </div>

</div>



